<ion-content class="swiper-no-swiping">
  <div class="container top" [hidden]="this.keyboard.isVisible">
    <img src="/assets/img/logo.png">
    <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
        <ion-segment-button value="login">
          <ion-label>Login</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Cadastro">
          <ion-label>Cadastro</ion-label>
        </ion-segment-button>
      </ion-segment>


  </div>
  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha"[(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">
          Entrar
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail"[(ngModel)]="userRegister.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha"[(ngModel)]="userRegister.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="register()" color="light" expand="block">
          Cadastrar
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAU0VIXy93XDFUcSJszZrGaUhdQvMSwMiU",
    authDomain: "budega-bdb37.firebaseapp.com",
    databaseURL: "https://budega-bdb37.firebaseio.com",
    projectId: "budega-bdb37",
    storageBucket: "budega-bdb37.appspot.com",
    messagingSenderId: "999709481949",
    appId: "1:999709481949:web:18556de91d082e191b7434"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

  <div class="ocean">
  <div class="container bottom ion-text-center" [hidden]="this.keyboard.isVisible"></div>
  <span>Aqui você encontra apartamentos com maior facilidade</span>
</div>
</ion-content>
